.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;
}
